@import "../semantic/dist/semantic.min.css";

#root {
    padding: 20px;
}

.game-icon {
  max-width: 200px;
  max-height: 200px;
}

.game-details {
  padding: 20px !important;
}

.data-input div {
  margin: 0 10px 10px 0;
}

.submit {
  margin: 10px 0;
}
